@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0 auto; /*configuracao do site*/
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --Azul-escuro: #03012c;
  --verde: #0086a4;
  --branco-suave: #f7f3f3;
  --preto: #0a0a0a;
}
/* Reset CSS */

.menu a {
  text-decoration: none;
  color: var(--branco-suave);
  font-size: 1.2em;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.imagem-central {
  width: 40vw;
}
.secao-gamer {
  padding: 40px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.secao-gamer p {
  max-width: 300vw;
  
}
.secao-gamer:nth-child(2){
  font-size: 1.5em;
 
}
.pgamer{
  font-size: 2em;
  text-align: center;
  width: 25vw;
  color: var(--Azul-escuro);
  font-weight: 700;
}
.pgamer span {
  color: var(--verde);
}
.centro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
html {
  scroll-behavior: smooth;
}
.container-grid {
  /*configuracao do menu*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--Azul-escuro);
  padding: 20px 0 20px 0;
}

/* .container-grid {
  max-width: 80vw;
  width: 1400px;
  margin: 0 auto;
} */
/* margin: 20px - Espaçamento esterno de 20px */
/* margin: 20px 10px - espaçamento 20px na vertical, 10px na horizontal */
/* margin: 20px 10px 5px - espaçamento 20px para cima, 10px na horizontal, 5px para baixo */
/* margin: 20px 10px 5px 2PX - espaçamento 20px para cima, 10px Ppara a direita, 5px para baixo, 2px para esquerda */

.banner {
  height: 100vh;
  background-position: 165% 40%;
}

.search-container {
  display: flex;
  width: 300px;
  margin: 20px auto;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
