@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0 auto; /*configuracao do site*/
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --Azul-escuro: #03012c;
  --branco-suave: #f7f3f3;
  --verde: #0086A4;
  --preto: #0a0a0a;
  --branco-cinza:#F4F4F9
}

body {
  background-color: var(--branco-cinza);
  color: var(--branco-cinza); /* Isso vai mudar a cor do texto para branco, para melhor legibilidade */
}

/* Reset CSS */

.menu a {
  text-decoration: none;
  color: var(--Azul-escuro);
  font-size: 1.2em;
  transition: .5s;
  transform: scale(.9);
  border-radius: 10%;
  /* color: var(--verde);
  /* text-shadow: 0 0 5px var(--verde); */
}
.menu a:hover::before {
  transform: translate(-50%, -50%);
  /* box-shadow: 0 0 15px var(--Azul-escuro); */
  animation: 1s clockwise infinite;
}
.menu a:hover{
  color: var(--verde);
  /* box-shadow: 0 0 5px var(--verde); */
  /* text-shadow: 0 0 5px var(--verde); */
  transition: 1s box-shadow;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}


.imagem-central {
  width: 40vw;
}

.secao-gamer {
  gap: 25px;
  padding: 40px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.paragrafo {
  text-align: center;
  margin-top: 20px; /* Espaço acima do parágrafo */
  margin-bottom: 20px; /* Espaço abaixo do parágrafo */
  color: var(--Azul-escuro); /* Cor do texto */
  font-size: 20px; /* Tamanho da fonte */
  font-family: "Montserrat"; /* Família da fonte */
  max-width: 40vw;
}

.secao-gamer:nth-child(2) {
  font-size: 1.5em;
}

.segunda-imagem {
  width: 700px;
}

.p-segundo {
  text-align: center;
  margin-top: 20px; /* Espaço acima do parágrafo */
  margin-bottom: 30px; /* Espaço abaixo do parágrafo */
  color: var(--Azul-escuro); /* Cor do texto */
  font-size: 20px; /* Tamanho da fonte */
  font-family: "Montserrat"; /* Família da fonte */
  max-width: 40vw;
}
.s-paragrafo span {
  color: var(--verde);
}

.s-paragrafo {
  font-size: 1.7em;
  text-align: center;
  color: var(--Azul-escuro); /* Cor do texto */

  margin-top: 10px; /* Espaço acima do parágrafo */
  margin-bottom: 10px; /* Espaço abaixo do parágrafo */
  font-size: 20px; /* Tamanho da fonte */
  font-family: "Montserrat"; /* Família da fonte */
  font-weight: 700;
  max-width: 40vw;
}
.titulo-jogos span {
  color: var(--verde);
}

.titulo-jogos {
  text-align: center;
  color: var(--Azul-escuro); /* Cor do texto */

  font-size: 20px; /* Tamanho da fonte */
  font-family: "Montserrat"; /* Família da fonte */
  font-weight: 700;
  max-width: 30vw;
  margin-bottom: 90px;
  /* margin: 100px; */
  /* margin: 100px 30px 30px 165px; */
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.centro-J {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.centro2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.s-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  width: 300px;
  margin: 20px auto;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#searchInput {
  width: 200px; /* largura */
  height: 30px; /* altura */
  padding: 5px; /* preenchimento */
  border: 1px solid var(--verde); /* borda */
  border-radius: 5px; /* raio da borda */
  font-size: 15px; /* tamanho da fonte */
}

#searchInput {
  transition: color 0.8s ease-in-out, transform 0.8s ease-in-out,
    background-color 0.8s ease-in-out;
}

#searchInput:hover {
  color: var(--verde);
  transform: scale(1.1);
  background-color: var(--branco-cinza);
}

.pgamer {
  font-size: 2em;
  text-align: center;
  width: 30vw;
  color: var(--Azul-escuro);
  font-weight: 700;
}

.pgamer span {
  color: var(--verde);
}

.paragrafo span {
  color: var(--verde);
}

.centro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-blue {
  width: 160px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--verde);
  background-color: var(--verde);
  color: var(--branco-suave);

  justify-content: flex-end;
}

.botoes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn-white {
  width: 160px;
  cursor: pointer;
  padding: 15px;
  border: 2px solid var(--verde);
  background-color: var(--branco-cinza);
  color: var(--verde);
  border-radius: 10px;
}

.btn-white:hover {
  border-color: var(--verde);
  color: var(--verde);
  transform: scale(1.1);
  background-color: var(--branco-cinza);
}

.btn-blue {
  transition: color 0.8s ease-in-out, transform 0.8s ease-in-out,
    background-color 0.8s ease-in-out;
}

.btn-blue:hover {
  border-color: var(--verde);
  color: var(--Azul-escuro);
  transform: scale(1.1);
  background-color: var(--verde);
}

.btn-white {
  transition: color 0.8s ease-in-out, transform 0.8s ease-in-out,
    background-color 0.8s ease-in-out;
}

.btn-white:hover {
  border-color: var(--verde);
  color: var(--verde);
  transform: scale(1.1);
  background-color:  var(--branco-cinza);
}

.container-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--branco-cinza);
  padding: 30px 0 30px 0;
}

.chat-boot {
  display: flex;
  justify-content: center;
  margin: auto;
}

.basquete {
  width: 350px;
}
.fifa {
  width: 500px;
  margin: 0px 20px 0px 20px;
}
.carro {
  width: 340px;
}
.xadrez {
  width: 1250px;
}

.img1 {
  grid-area: basquete;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
   
}
.img2 {
  grid-area: fifa;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
   
}
.img3 {
  grid-area: carro;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
   
}
.img4 {
  grid-area: xadrez;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
   
}

.secao-jogos {
  grid-template-areas:
    "basquete basquete fifa fifa carro carro"
    "xadrez xadrez xadrez xadrez xadrez xadrez";

  display: grid;
  justify-items: center;
  align-content: center;
}

.secao-jogos img {
  border-radius: 10px;
}

/* .container-xadrez{
  width: 79%;
  margin-bottom: 95px;
} */

.chat-bot {
  position: fixed;
  margin-left: 30px;
  margin-top: 70%;
}

.img1:hover, .img2:hover, .img3:hover, .img4:hover {

  /* min-width: 500px; */
  transform: scale(1.1);
}

.titulo-C {
  text-align: center;
  color: var(--Azul-escuro); /* Cor do texto */

  font-size: 20px; /* Tamanho da fonte */
  font-family: "Montserrat"; /* Família da fonte */
  font-weight: 700;
  max-width: 30vw;
  margin-bottom: 90px;
}

.titulo-C span{
  color: var(--verde);
}

.imagens-carousel {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.texto-sobre {
  font-size: 1.7em;
  text-align: center;
  color: var(--Azul-escuro); /* Cor do texto */

  margin-top: 10px; /* Espaço acima do parágrafo */
  margin-bottom: 10px; /* Espaço abaixo do parágrafo */
  font-size: 20px; /* Tamanho da fonte */
  font-family: "Montserrat"; /* Família da fonte */
  font-weight: 700;
  max-width: 40vw;
}

.texto-sobre span {
  color: var(--verde);
}



/* Definição da animação de rolagem */
/* REGRAS: calc(${largura do slide-item + margem à esquerda + margem à direita}px * ${total de slide-items}) */
@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-280px * 4)); }
}

@keyframes scroll-right {
  0% { transform: translateX(calc(-280px * 4)); }
  100% { transform: translateX(0); }
}

/* Estilos do slider */
.slider {
  margin: auto; /* Centraliza horizontalmente */
  overflow: hidden; /* Esconde conteúdo que ultrapassa os limites */
  position: relative; /* Define o contexto de posicionamento */
  width: 960px; /* Largura do slider (ajuste conforme necessário) */
}

/* Estilos do track dos slides */
.slide-track {
  display: flex; /* Exibe como flexbox */
  width: calc(280px * 8); /* Largura do track (ajuste conforme necessário) */
}

/* Animações de rolagem para esquerda e direita */
.slide-track.left {
  animation: scroll-left 12s linear infinite; /* Animação para a esquerda */
}

.slide-track.right {
  animation: scroll-right 12s linear infinite; /* Animação para a direita */
}

/* Pausa a animação ao passar o mouse sobre o track */
.slide-track:hover {
  animation-play-state: paused;
}

/* Estilos dos itens de slide */
.slide-item {
  width: 350px; /* Largura do slide-item */
  margin: 10px; /* Margem entre os slide-items */
  border-radius: 10px; /* Borda arredondada */
  transition: transform 0.5s, box-shadow 0.5s; /* Transição suave */
}

.slide-item img {
  width: 100%; /* Garante que a imagem ocupe a largura total do slide-item */
  height: 100%; /* Garante que a imagem ocupe a altura total do slide-item */
  object-fit: cover; /* Faz com que a imagem cubra todo o espaço disponível */
  border-radius: 10px; /* Borda arredondada nas imagens */
  margin: 10px; /* Margem ao redor da imagem */
} 
/* Efeito ao passar o mouse sobre o slide-item */
.slide-item:hover {
  transform: scale(1.05); /* Ampliação do slide-item */
  cursor: pointer; /* Altera o cursor ao passar o mouse */
 
}

/* Estilos para telas menores que 600px de largura */
@media only screen and (max-width: 600px) {
  .slider {
    width: 100vw; /* Largura do slider ajustada para a largura da tela */
  }
}
.container {
  width: 100%;
  display: flex;
  justify-content: right;
  height: 400px;
  /* gap: 10px; */
}

.container > div {
  flex: 0 0 120px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  /* box-shadow: 1px 5px 15px #1e0e3e; */
  position: relative;
  overflow: hidden;
}

.textos {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha itens à esquerda */
  justify-content: center; /* Centraliza verticalmente */
  height: 70vh; /* Ajuste conforme necessário */
}

.container {
  display: flex;
  justify-content: flex-end; /* Alinha os itens à direita */
}

.container > div {
  width: 250px; /* Ajuste conforme necessário */
  height: 250px; /* Ajuste conforme necessário */
  margin: 10px; /* Espaçamento entre as imagens */
}

.textos-e-imagens {
  display: flex;
  align-items: flex-start; /* Alinha itens no topo */
  justify-content: space-between; /* Espaça o texto e as imagens */
}

.texto-container {
  flex: 1; /* Ocupará o espaço disponível à esquerda */
  margin-right: 20px; /* Espaço entre o texto e as imagens */
}

.segundo-texto {
  text-align: center; /* Alinha o texto à esquerda */
  margin-top: 20px; /* Espaço acima do parágrafo */
  margin-bottom: 30px; /* Espaço abaixo do parágrafo */
  color: var(--Azul-escuro); /* Cor do texto */
  font-size: 20px; /* Tamanho da fonte */
  font-family: "Montserrat"; /* Família da fonte */
  max-width: 40vw;
}

.container {
  display: flex;
  justify-items: right;
  justify-content: flex-end; /* Alinha as imagens à direita */
}

.container > div {
  width: 40px; /* Ajuste conforme necessário */
  height: 250px; /* Ajuste conforme necessário */
 
}

.container > div:nth-of-type(1) {
  background: url("img/empresa.jpg") no-repeat center / cover;
}

.container > div:nth-of-type(2) {
  background: url("img/empresa2 (1).jpg") no-repeat center / cover;
}

.container > div:nth-of-type(3) {
  background: url("img/empresa3.jpg") no-repeat center / cover;
}

.container > div:nth-of-type(4) {
  background: url("img/empresa4.jpg") no-repeat center / cover;
}

.container > div .content {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  opacity: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  transform: translateY(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  visibility: hidden;
}

.container > div:hover {
  flex: 0 0 250px;
  transform: translateY(-30px);
}

.container > div:hover .content {
  opacity: 1;
  transform: translateY(0%);
  visibility: visible;
}

